h1{
    position: relative;
    top: 20px;
    left: 60px;
    font-size: 25px;
}
.i2{
    position: relative;
    bottom: -50px;
}
.buttons{
    position: relative;
    left: 500px;
    word-spacing: 40px;
}
.buttons>button{
    width: 100px;
    height: 50px;
    border-radius: 80px;
}
@media all and (max-width: 768px){
    .buttons{
        position: relative;
        left: 100px;
        top: 50px;
        word-spacing: 20px;
    }
    .buttons>button{
        width: 70px;
        height: 50px;
        border-radius: 10px;
    }
}