.img{
    width: 400px;
    height:400px;
    position: relative;
    top: 5vw;
    left: 10vw;
    border-radius: 100%;
    border: 2px solid black;
}
.para{
    align-content: center;
    position: absolute;
    top: 25vh;
    left: 40vw;

}
p{
    font-size: 25px;
}
h1{
    font-size: 25px;
    position: fixed;
    top: 100px;
    left: 5vw;

}
#clear{
    position: relative;
    top: 2vh;
    left:40vw;
    width: 100px;
    height: 50px;
}
#ADD1{
    position: relative;
    top: 2vh;
    left: 30vw;
    width: 100px;
    height: 50px;

}

#remove{
    position: relative;
    top: 2vh;
    left: 50vw;
    width: 100px;
    height: 50px;
}
#update{
    position: relative;
    top: 2vh;
    left: 60vw;
    width: 100px;
    height: 50px;
}
.table{
    position: absolute;
    bottom: 100px;
    top: 200px;
}
.search{
    position: absolute;
    bottom: 20px;

}
@media screen and (max-width: 365px){
    .para{
        align-content: center;
        position: absolute;
        top: 30vh;
        left: 5vw;

    }
    p{
        font-size: 20px;
    }

}
@media screen and (max-width:700px ){
    .adjust{
        background-color: aqua;
    }

    /*#ADD1{*/
    /*    position: relative;*/
    /*    top: 0vh;*/
    /*    left: -20vw;*/
    /*}*/
}